{{#if addNewQuestion}}
<form>

  <div class="form-group">
    <label for="content">Question:</label><br>
    {{textarea cols="70" rows="4" value=content id="content"}}
  </div>

  <div class="form-group">
    <label for="notes">Notes:</label><br>
    {{textarea value=notes cols="70" rows="4" id="notes"}}
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    {{input value=author id="author"}}
  </div>

  <button class="btn btn-primary" {{action 'saveQuestion'}}>Save</button>

</form>
{{else}}
  <button class="btn btn-primary"{{action 'showQuestionForm'}}>New Question</button>
{{/if}}
