{{#if addNewAnswer}}
  <form>

    <div class="form-group">
      <label for="content">Answer:</label>
      {{textarea cols="30" rows="4" value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      {{input  value=author id="author"}}
    </div>

    <button class="btn btn-primary"{{action 'saveAnswer'}}>Save</button>

  </form>
{{else}}
  <button class="btn btn-primary"{{action 'showAnswerForm'}}>New Answer</button>
{{/if}}
