


  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <h3>{{question.content}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4>Author</h4>
        <h6>{{question.author}}</h6>

        <h4>Additional Notes:</h4>
        <p>{{question.notes}}</p>
        <button class="btn btn-primary"{{action 'delete' question}}>Delete This Question</button>
      </div>
    </div>
  </div>



  <h2>Answers:</h2>
  <ul>
    {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
    {{/each}}
  </ul>
